<div class='search-form'>
	<h1 class="gravitas">Find a Movie!</h1>
	<form accept-charset="UTF-8" action="/result" method="post">
		<input id="movie" name="movie" type="text" placeholder="Search any movie" />
		<input name="commit" type="submit" value="Search" class="btn-sm btn-color"/> 
	</form>
</div>
