<!DOCTYPE html>
<html>
	<head>
		<title>Movie App</title>

		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<link href='http://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>

		<script src="/assets/jquery.js"></script>
    	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js" ></script>
    	<script type="text/javascript" src="/scripts/script.js"> </script>
	</head>
	<body class="background">
		<%= yield %>
	</body>
</html>