<h1><%= @movie["Title"] %></h1>
<a href='http://www.imdb.com/title/<%= @movie["imdbID"] %>'>
<img src="<%= @movie['Poster']=='N/A' ? 'http://static2.wikia.nocookie.net/__cb20090329133961/superfriends/images/a/a5/No_Photo_Available.jpg' : @movie['Poster'] %>" />
</a>
<br />
<br />
<a href="/">New Search</a>