<h1>Movie Results</h1>
<ul>
	<% @movies.each do |movie| %>
	<li>
		<img src="<%= movie['Poster']=='N/A' ? 'http://static2.wikia.nocookie.net/__cb20090329133961/superfriends/images/a/a5/No_Photo_Available.jpg' : @movie['Poster'] %>"  /> 
		<br />
		<a href='/poster/<%= movie["imdbID"]%>'> title: <%= movie["Title"] %> 
		<br />
		year: <%= movie["Year"] %></a>
	</li>
	<br />
	<% end %>
</ul>

<p><a href="/">New Search</a></p>